/* Mobile First View */
.header {
  display: grid;
  height: 80px;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; }
  .header .logo {
    grid-column: 1/4;
    height: 30px;
    width: 100px;
    margin: auto; }
    .header .logo #logo {
      width: 100%;
      height: 100%; }
  .header .logo:hover {
    cursor: pointer; }
  .header .icon {
    grid-column: 7/9;
    margin: auto; }
    .header .icon .hamburgerIcon {
      width: 30px;
      height: 25px; }
      .header .icon .hamburgerIcon:hover #navWrapper {
        display: block; }
  .header .icon:hover {
    cursor: pointer; }

#desktopNav {
  display: none; }

.searchContainer {
  display: none; }

#navWrapper {
  display: block;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  position: fixed;
  top: 79px;
  z-index: 98;
  width: 100%;
  margin-top: -2000px; }
  #navWrapper nav {
    grid-column: 1/10;
    height: 390px;
    font-size: .7em;
    font-weight: bold;
    background-color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    animation: navTransition .4s linear 1;
    border-top: 3px solid #1dc1c1; }
@keyframes navTransition {
  0% {
    transform: translateY(-700px); }
  100% {
    transform: translateY(0); } }
    #navWrapper nav ul {
      padding: 10px; }
      #navWrapper nav ul a {
        display: block;
        height: 28px;
        line-height: 35px;
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        text-decoration: none;
        color: #777; }
        #navWrapper nav ul a:hover {
          color: #e38f84; }
        #navWrapper nav ul a li {
          width: 100%; }
      #navWrapper nav ul .title_li {
        padding-left: 20px; }

@media only screen and (min-width: 1024px) {
  .header .logo {
    grid-column: 1/3; }
  .header .icon {
    display: none; }

  #desktopNav {
    display: block;
    grid-column: 3/6;
    grid-row: 1/2;
    margin: auto; }
    #desktopNav ul .desktop_li {
      display: inline-block;
      padding: 10px; }
      #desktopNav ul .desktop_li a {
        text-decoration: none;
        color: black; }
        #desktopNav ul .desktop_li a:hover {
          color: #f05959d8; }

  .searchContainer {
    display: block;
    grid-column: 6/9;
    grid-row: 1/2;
    margin: auto; }
    .searchContainer .searchBox {
      height: 34px;
      width: 200px;
      border-radius: 5px 0 0 5px;
      border: 1px solid black;
      outline: 0; }
    .searchContainer ::placeholder {
      padding-left: 12px;
      color: #f05959d8; }
    .searchContainer .search {
      height: 36px;
      width: 40px;
      border-radius: 0 5px 5px 0;
      background: none;
      border: 1px solid black;
      margin-left: -5.5px;
      outline: 0; }
      .searchContainer .search img {
        width: 35%;
        height: 35%; }
      .searchContainer .search:hover {
        cursor: pointer; } }

/*# sourceMappingURL=header.css.map */
