@media only screen and (min-width: 768px) {
  .sliderContainer {
    display: -ms-grid;
    display: grid;
    height: 350px;
    position: relative;
    top: 80px;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    padding: 0;
  }
  .sliderContainer .sliderText {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }
  .sliderContainer #sc_btn {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .whoAreWeContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    height: 400px;
    position: relative;
    top: 80px;
  }
  .whoAreWeContainer .whoAreWeText {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 350px;
    text-align: left;
  }
  .whoAreWeContainer .whoAreWeText #rm_btn {
    margin: auto;
  }
  .whoAreWeContainer .whoAreWe_images {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .iconSectionContainer {
    display: -ms-grid;
    display: grid;
    height: 900px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    width: 100%;
    padding: 0;
  }
  .iconSectionContainer .iconSection, .iconSectionContainer .iconSectionText {
    display: -ms-grid;
    display: grid;
    width: 200px;
    font-size: 14px;
    padding: 10px 20px 40px 20px;
    margin: auto;
  }
  .iconSectionContainer .screen {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 50%;
  }
  .iconSectionContainer #screen_div {
    padding-top: 25px;
    height: 50px;
    width: 165px;
  }
  .iconSectionContainer #screen_div .icon {
    height: 100%;
    width: 40%;
  }
  .iconSectionContainer .screenText {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .iconSectionContainer .screenText p {
    padding: 0 40px;
  }
  .iconSectionContainer .speaker {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 50%;
  }
  .iconSectionContainer #speaker_div {
    padding-top: 25px;
    height: 50px;
    width: 165px;
  }
  .iconSectionContainer #speaker_div .icon {
    height: 100%;
    width: 40%;
  }
  .iconSectionContainer .speakerText {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .iconSectionContainer .speakerText p {
    padding: 0 40px;
  }
  .iconSectionContainer .spanner {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 50%;
  }
  .iconSectionContainer #spanner_div {
    padding-top: 25px;
    height: 50px;
    width: 165px;
  }
  .iconSectionContainer #spanner_div .icon {
    height: 100%;
    width: 40%;
  }
  .iconSectionContainer .spannerText {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .iconSectionContainer .spannerText p {
    padding: 0 40px;
  }
  .iconSectionContainer .document {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 50%;
  }
  .iconSectionContainer #document_div {
    padding-top: 25px;
    height: 50px;
    width: 165px;
  }
  .iconSectionContainer #document_div .icon {
    height: 100%;
    width: 40%;
  }
  .iconSectionContainer .documentText {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .iconSectionContainer .documentText p {
    padding: 0 40px;
  }
  .portfolioSectionContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    height: 700px;
    position: relative;
    top: 80px;
  }
  .portfolioSectionContainer .portfolioSectionText {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: left;
    padding: 0px 20px 20px 20px;
    height: 300px;
  }
  .portfolioSectionContainer .portfolioSectionText h3 {
    padding: 50px 0 50px 30px;
  }
  .portfolioSectionContainer .portfolioSectionImages {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .portfolioSectionContainer .portfolioSectionImages #image1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 200px;
  }
  .portfolioSectionContainer .portfolioSectionImages #image2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 200px;
  }
  .portfolioSectionContainer .portfolioSectionImages #image3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 200px;
  }
  .portfolioSectionContainer .portfolioSectionImages #image4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 200px;
  }
  .portfolioSectionContainer #largeImage {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 300px;
  }
  .teamSectionContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    height: 1550px;
    padding-bottom: 30px;
    position: relative;
    top: 80px;
  }
  .teamSectionContainer .teamSectionText {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: left;
    padding: 40px 20px 20px 20px;
  }
  .teamSectionContainer .teamSectionText h3 {
    padding-left: 150px;
  }
  .teamSectionContainer .teamSectionText p {
    padding: 10px 150px 0 150px;
    font-size: .9em;
    line-height: 20px;
  }
  .teamSectionContainer .photoOne {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 150px;
    width: 150px;
    padding: 0;
    margin-top: 60px;
  }
  .teamSectionContainer .infoOne {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-size: 1.5em;
    padding: 50px 0 0 65px;
    text-align: left;
  }
  .teamSectionContainer .infoOne hr {
    margin: 10px 0 10px 10px;
    width: 50%;
  }
  .teamSectionContainer .infoOne:hover hr {
    margin: 10px 0 10px 10px;
    width: 70%;
  }
  .teamSectionContainer .infoOne .teamMemberName {
    padding: 10px;
  }
  .teamSectionContainer .infoOne .teamMemberPosition {
    padding: 10px;
  }
  .teamSectionContainer .infoOne .teamMemberDetails {
    padding: 20px 30px 20px 10px;
    font-size: .6em;
    line-height: 1.5em;
  }
  .teamSectionContainer .photoTwo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    height: 150px;
    width: 150px;
    padding: 0;
    margin-top: 60px;
  }
  .teamSectionContainer .infoTwo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    font-size: 1.5em;
    padding: 50px 0 0 65px;
    text-align: left;
  }
  .teamSectionContainer .infoTwo hr {
    margin: 10px 0 10px 10px;
    width: 50%;
  }
  .teamSectionContainer .infoTwo:hover hr {
    margin: 10px 0 10px 10px;
    width: 70%;
  }
  .teamSectionContainer .infoTwo .teamMemberName {
    padding: 10px;
  }
  .teamSectionContainer .infoTwo .teamMemberPosition {
    padding: 10px;
  }
  .teamSectionContainer .infoTwo .teamMemberDetails {
    padding: 20px 30px 20px 10px;
    font-size: .6em;
    line-height: 1.5em;
  }
  .teamSectionContainer .photoThree {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    height: 150px;
    width: 150px;
    padding: 0;
    margin-top: 60px;
  }
  .teamSectionContainer .infoThree {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    font-size: 1.5em;
    padding: 50px 0 0 65px;
    text-align: left;
  }
  .teamSectionContainer .infoThree hr {
    margin: 10px 0 10px 10px;
    width: 50%;
  }
  .teamSectionContainer .infoThree:hover hr {
    margin: 10px 0 10px 10px;
    width: 70%;
  }
  .teamSectionContainer .infoThree .teamMemberName {
    padding: 10px;
  }
  .teamSectionContainer .infoThree .teamMemberPosition {
    padding: 10px;
  }
  .teamSectionContainer .infoThree .teamMemberDetails {
    padding: 20px 30px 20px 10px;
    font-size: .6em;
    line-height: 1.5em;
  }
  .teamSectionContainer .photoFour {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    height: 150px;
    width: 150px;
    padding: 0;
    margin-top: 60px;
  }
  .teamSectionContainer .infoFour {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    font-size: 1.5em;
    padding: 50px 0 0 65px;
    text-align: left;
  }
  .teamSectionContainer .infoFour hr {
    margin: 10px 0 10px 10px;
    width: 50%;
  }
  .teamSectionContainer .infoFour:hover hr {
    margin: 10px 0 10px 10px;
    width: 70%;
  }
  .teamSectionContainer .infoFour .teamMemberName {
    padding: 10px;
  }
  .teamSectionContainer .infoFour .teamMemberPosition {
    padding: 10px;
  }
  .teamSectionContainer .infoFour .teamMemberDetails {
    padding: 20px 30px 20px 10px;
    font-size: .6em;
    line-height: 1.5em;
  }
  .counterContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    height: 150px;
    position: relative;
    top: 80px;
    padding: 0;
  }
  .counterContainer .cofees {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .counterContainer .girls {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .counterContainer .projects {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .counterContainer .hours {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  /*  ABOUT PAGE */
  .aboutUsContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    height: 900px;
    position: relative;
    top: 80px;
    text-align: justify;
  }
  .aboutUsContainer .aboutUs {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding: 40px 20px 0 60px;
  }
  .aboutUsContainer .aboutUs h3 {
    padding-bottom: 30px;
  }
  .aboutUsContainer .aboutUs p {
    padding-left: 0;
  }
  .aboutUsContainer .aboutImage {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
  }
  .aboutUsContainer .about {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 500px;
  }
  .aboutUsContainer .about .heading {
    padding: 20px 0 40px 20px;
  }
  .aboutUsContainer .about p {
    font-size: .7em;
  }
  .aboutUsContainer .us {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
  }
  .statsContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    height: 200px;
    position: relative;
    top: 80px;
    background-color: black;
    padding: 50px 0 20px 0;
  }
  .statsContainer .counter {
    height: 400px;
    margin: auto;
    width: 120px;
    height: 120px;
    padding: 5px;
    color: white;
    text-align: center;
  }
  .statsContainer .counter .p_style {
    padding-top: 10px;
    font-size: .8em;
  }
  .statsContainer .statsOne {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .statsContainer .statsTwo {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .statsContainer .statsThree {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .statsContainer .statsFour {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  /*  PORTFOLIO PAGE  */
  .lightbox_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 300px 50px;
        grid-template-rows: 300px 50px;
    position: relative;
    top: 80px;
    border-bottom: 0.5px solid #e38f84;
  }
  .lightbox_container .lightbox {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70px 1fr 70px;
        grid-template-columns: 70px 1fr 70px;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .lightbox_container .lightbox .direction {
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0.5px solid black;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 10px #e38f8450;
            box-shadow: 0 0 10px #e38f8450;
    z-index: 5;
    padding: 5px;
    background-color: #e38f8470;
    margin: auto;
  }
  .lightbox_container .lightbox .direction:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .lightbox_container .lightbox .left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .lightbox_container .lightbox .left img {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .lightbox_container .lightbox .right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .lightbox_container .lightbox .right img {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .lightbox_container .lightbox #images {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    z-index: 1;
    border-bottom: 1px solid #e38f8490;
  }
  .lightbox_container .lightbox #images .lb_images {
    margin: auto;
    height: 100%;
    width: 100%;
  }
  .lightbox_container .lightbox #images .lb_images img {
    height: 100%;
    width: 100%;
  }
  .lightbox_container ul {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .lightbox_container ul .g_list {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    padding: 5px;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .lightbox_container ul .g_list:hover, .lightbox_container ul .g_list :active, .lightbox_container ul .g_list :focus {
    cursor: pointer;
    background-color: #e38f84;
  }
  .hiddenWindowContainer .hiddenWindowWrapper {
    width: 60%;
    height: 60%;
  }
  .hiddenWindowContainer .hiddenWindowWrapper #img_holder {
    height: 90%;
  }
  /*  COURSES PAGE  */
  .shopping_container {
    width: 45%;
  }
  .wrapper {
    padding: 20px;
  }
  .wrapper .courses {
    height: 400px;
    width: 600px;
  }
  /*  CONTACT PAGE  */
  .formContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    height: 580px;
    position: relative;
    top: 80px;
  }
  .formContainer form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding: 40px;
    margin: 0;
  }
  .formContainer form .h_message {
    text-align: left;
  }
  .formContainer .c_info_container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    position: relative;
    top: 80px;
    top: 18px;
  }
  .formContainer .c_info_container .h_message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: left;
  }
  .formContainer .mapContainer {
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .sliderContainer {
    display: -ms-grid;
    display: grid;
    height: 600px;
    position: relative;
    top: 80px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
  .sliderContainer .sliderText {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 1.2em;
  }
  .whoAreWeContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    height: 420px;
    padding: 30px;
    position: relative;
    top: 80px;
  }
  .whoAreWeContainer .whoAreWeText {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding-left: 0;
  }
  .whoAreWeContainer .whoAreWeText h3 {
    padding-left: 0;
  }
  .whoAreWeContainer .whoAreWeText h5 {
    padding-left: 0;
  }
  .whoAreWeContainer .whoAreWeText p {
    padding-left: 0;
  }
  .whoAreWeContainer .whoAreWe_images {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-gap: 10px;
  }
  .iconSectionContainer {
    display: -ms-grid;
    display: grid;
    height: 470px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    width: 100%;
    padding: 0;
  }
  .iconSectionContainer .iconSection, .iconSectionContainer .iconSectionText {
    display: -ms-grid;
    display: grid;
    width: 200px;
    font-size: .9em;
    padding: 25px 0 20px 0;
    margin: auto;
    margin-top: 0;
  }
  .iconSectionContainer .iconSection h3, .iconSectionContainer .iconSectionText h3 {
    font-size: 1.35em;
    padding: 0 20px;
  }
  .iconSectionContainer .iconSection p, .iconSectionContainer .iconSectionText p {
    font-size: .9em;
    padding: 0 20px;
  }
  .iconSectionContainer .screen {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 150px;
  }
  .iconSectionContainer #screen_div {
    padding-top: 25px;
    height: 50px;
    width: 165px;
    width: 100px;
  }
  .iconSectionContainer #screen_div .icon {
    height: 100%;
    width: 40%;
  }
  .iconSectionContainer .screenText {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .iconSectionContainer .screenText p {
    padding: 0 40px;
  }
  .iconSectionContainer .speaker {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100px;
  }
  .iconSectionContainer #speaker_div {
    padding-top: 25px;
    height: 50px;
    width: 165px;
    width: 100px;
  }
  .iconSectionContainer #speaker_div .icon {
    height: 100%;
    width: 40%;
  }
  .iconSectionContainer .speakerText {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .iconSectionContainer .speakerText p {
    padding: 0 40px;
  }
  .iconSectionContainer .spanner {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100px;
  }
  .iconSectionContainer #spanner_div {
    padding-top: 25px;
    height: 50px;
    width: 165px;
    width: 100px;
  }
  .iconSectionContainer #spanner_div .icon {
    height: 100%;
    width: 40%;
  }
  .iconSectionContainer .spannerText {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .iconSectionContainer .spannerText p {
    padding: 0 40px;
  }
  .iconSectionContainer .document {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100px;
  }
  .iconSectionContainer #document_div {
    padding-top: 25px;
    height: 50px;
    width: 165px;
    width: 100px;
  }
  .iconSectionContainer #document_div .icon {
    height: 100%;
    width: 40%;
  }
  .iconSectionContainer .documentText {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .iconSectionContainer .documentText p {
    padding: 0 40px;
  }
  .portfolioSectionContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    height: 650px;
    position: relative;
    top: 80px;
  }
  .portfolioSectionContainer .portfolioSectionText {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: left;
    padding: 0px 50px 20px 0;
    height: 300px;
  }
  .portfolioSectionContainer .portfolioSectionText h3 {
    padding: 50px 0 0 0;
  }
  .portfolioSectionContainer .portfolioSectionText p {
    padding-left: 0;
  }
  .portfolioSectionContainer .portfolioSectionImages {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 200px;
    grid-gap: 10px;
  }
  .portfolioSectionContainer .portfolioSectionImages #image1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 150px;
  }
  .portfolioSectionContainer .portfolioSectionImages #image2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 150px;
  }
  .portfolioSectionContainer .portfolioSectionImages #image3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 150px;
  }
  .portfolioSectionContainer .portfolioSectionImages #image4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 150px;
  }
  .portfolioSectionContainer #largeImage {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 310px;
    width: 100%;
    margin-left: 10px;
  }
  .teamSectionContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    height: 1750px;
    padding-bottom: 30px;
    position: relative;
    top: 80px;
    margin-top: -300px;
  }
  .teamSectionContainer .teamSectionText {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: left;
    padding: 40px 0 20px 0;
    margin-top: 300px;
  }
  .teamSectionContainer .teamSectionText h3 {
    padding-left: 0;
  }
  .teamSectionContainer .teamSectionText p {
    padding: 10px 50px 0 0;
    font-size: .9em;
    line-height: 20px;
  }
  .teamSectionContainer .photoOne {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 150px;
    width: 150px;
    padding: 0;
    margin-top: 60px;
  }
  .teamSectionContainer .photoOne .teamImages {
    height: 150px;
    width: 150px;
  }
  .teamSectionContainer .infoOne {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    padding: 50px 0 0 15px;
    text-align: left;
  }
  .teamSectionContainer .infoOne hr {
    margin: 10px 0 10px 10px;
    width: 50%;
  }
  .teamSectionContainer .infoOne:hover hr {
    margin: 10px 0 10px 10px;
    width: 70%;
  }
  .teamSectionContainer .infoOne .teamMemberName {
    padding: 10px;
  }
  .teamSectionContainer .infoOne .teamMemberPosition {
    padding: 10px;
  }
  .teamSectionContainer .infoOne .teamMemberDetails {
    padding: 20px 30px 20px 10px;
    font-size: .6em;
    line-height: 1.5em;
  }
  .teamSectionContainer .photoTwo {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 150px;
    width: 150px;
    padding: 0;
    margin-top: 60px;
  }
  .teamSectionContainer .photoTwo .teamImages {
    height: 150px;
    width: 150px;
  }
  .teamSectionContainer .infoTwo {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    padding: 50px 0 0 15px;
    text-align: left;
  }
  .teamSectionContainer .infoTwo hr {
    margin: 10px 0 10px 10px;
    width: 50%;
  }
  .teamSectionContainer .infoTwo:hover hr {
    margin: 10px 0 10px 10px;
    width: 70%;
  }
  .teamSectionContainer .infoTwo .teamMemberName {
    padding: 10px;
  }
  .teamSectionContainer .infoTwo .teamMemberPosition {
    padding: 10px;
  }
  .teamSectionContainer .infoTwo .teamMemberDetails {
    padding: 20px 30px 20px 10px;
    font-size: .6em;
    line-height: 1.5em;
  }
  .teamSectionContainer .photoThree {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    height: 150px;
    width: 150px;
    padding: 0;
    margin-top: 60px;
  }
  .teamSectionContainer .photoThree .teamImages {
    height: 150px;
    width: 150px;
  }
  .teamSectionContainer .infoThree {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    padding: 50px 0 0 15px;
    text-align: left;
  }
  .teamSectionContainer .infoThree hr {
    margin: 10px 0 10px 10px;
    width: 50%;
  }
  .teamSectionContainer .infoThree:hover hr {
    margin: 10px 0 10px 10px;
    width: 70%;
  }
  .teamSectionContainer .infoThree .teamMemberName {
    padding: 10px;
  }
  .teamSectionContainer .infoThree .teamMemberPosition {
    padding: 10px;
  }
  .teamSectionContainer .infoThree .teamMemberDetails {
    padding: 20px 30px 20px 10px;
    font-size: .6em;
    line-height: 1.5em;
  }
  .teamSectionContainer .photoFour {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    height: 150px;
    width: 150px;
    padding: 0;
    margin-top: 60px;
  }
  .teamSectionContainer .photoFour .teamImages {
    height: 150px;
    width: 150px;
  }
  .teamSectionContainer .infoFour {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    padding: 50px 0 0 15px;
    text-align: left;
  }
  .teamSectionContainer .infoFour hr {
    margin: 10px 0 10px 10px;
    width: 50%;
  }
  .teamSectionContainer .infoFour:hover hr {
    margin: 10px 0 10px 10px;
    width: 70%;
  }
  .teamSectionContainer .infoFour .teamMemberName {
    padding: 10px;
  }
  .teamSectionContainer .infoFour .teamMemberPosition {
    padding: 10px;
  }
  .teamSectionContainer .infoFour .teamMemberDetails {
    padding: 20px 30px 20px 10px;
    font-size: .6em;
    line-height: 1.5em;
  }
  .counterContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    height: 200px;
    position: relative;
    top: 80px;
    padding: 0;
  }
  .counterContainer .counter {
    font-size: 1em;
  }
  .counterContainer .counterCoffees {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .counterContainer .counterGirls {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .counterContainer .counterProjects {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .counterContainer .counterHours {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  /*PORTFOLIO PAGE */
  .hiddenWindowContainer .hiddenWindowWrapper {
    width: 60%;
    height: 70%;
  }
  .hiddenWindowContainer .hiddenWindowWrapper #imageHolder {
    height: 90%;
  }
}

@media only screen and (min-width: 1440px) {
  .teamSectionContainer {
    height: 1650px;
    font-size: 1.2em;
  }
  .teamSectionContainer .teamSection_text p {
    font-size: 1em;
  }
  .shoppingContainer {
    width: 30%;
  }
}
/*# sourceMappingURL=responsiveness.css.map */